/*optional css for home page*/

body {
	padding-bottom: 150px;
	font-family: 'Merriweather', serif;
	background-color: 	#00BFFF;
}

h1{
	font-family: 'Merriweather', serif;
	
}

.jumbotron {
	background-color: #87CEFA;

}

.bottom_nav {
	margin: auto;
	
}

.vertical_alignment p{
	height: 50px;
	line-height: 50px;
}

.vertical_alignment p {
	vertical-align: middle;
	/*display: inline-block;*/
}